[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Pay the bills reminder
Comment='Reminder to pay the monthly bills.'
Categories=Utility;
Exec=/opt/paythebill/paythebillsreminder
StartupNotify=false
Terminal=false
Path=/opt/paythebill/
Icon=/opt/paythebill/icon.gif
